body {
  background-color: #00ccff;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #00bbec;
    font-family: sans-serif;
}

li{
    float: left;
}

li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 12px;
    text-decoration: none;
}

li a:hover{
    background-color: #8ce6ea;
}
h1 {
  font-family: verdana;
  color: white;
}
h2 {
  font-family: verdana;
  color: white;
}
h3{
  font-family: verdana;
  color: white;
}
h4 {
  font-family: verdana;
  color: white;
}
h5 {
  font-family: verdana;
  color: white;
}
h6 {
  font-family: verdana;
  color: white;
}
p {
  font-family: verdana;
  color: white;
}
