body {
  background-color: #00ccff;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #00bbec;
    font-family: sans-serif;
    font-size: 16px;
}

li{
    float: left;
}

li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 12px;
    text-decoration: none;
}

li a:hover{
    background-color: #5DC5F0;
}
/*Thanks to w3schools for this block of code here. I am currently debugging it;
the code itself is fine, it just isn't currently compatible with the navbar,
the basic design of which is also from w3schools.*/
/*So from here down to the next comment is currently broken; I will be
continuing to work my hardest to fix this bug. I believe it has to do with the
ordering of the elements of the page in index.html, however I couldn't say. I
do desire this dropdown to be located after the navbar, though.*/
.dropbtn {
    background-color: #00bbec;
    color: white;
    /*padding: 14px 12px;*/ /*Need to change this later, for now, a test. And it is successful.*/
    text-decoration: none;
    border: none;
    padding: 0;
    cursor: pointer;
    font-size: 16px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #00ccff;
/*    padding: 12px 16px;*/
    font-family: sans-serif;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
  }

.dropdown:hover .dropbtn {
    background-color: #5DC5F0;
}
/*So, the code from the previous comment to this one is broken right now, but
the problem almost certainly has something to do with the navbar, so I will
continue debugging in earnest.*/
h1 {
  font-family: verdana;
  color: white;
}

h2 {
  font-family: verdana;
  color: white;
}

h3{
  font-family: verdana;
  color: white;
}

h4 {
  font-family: verdana;
  color: white;
}

h5 {
  font-family: verdana;
  color: white;
}

h6 {
  font-family: verdana;
  color: white;
}

p {
  font-family: verdana;
  color: white;
}

i {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    color: white;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
