body {
  background-color: #00ccff;
}
/*Thanks to w3schools for this block of code
here. I am currently debugging it; the code
itself is fine, it just isn't currently
compatible with the navbar, the basic design
of which is also from w3schools.*/
.navbar {
    overflow: hidden;
    background-color: #00bbec;
    font-family: sans-serif;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
    height: 46px;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 0px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #5DC5F0;
}

.dropdown-content {
    display: none;
    position: absolute;
    /*top: 8.2%;*/ /*Welp, that didn't work :/ */
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: #00ccff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

h1 {
  font-family: verdana;
  color: white;
}

h2 {
  font-family: verdana;
  color: white;
}

h3{
  font-family: verdana;
  color: white;
}

h4 {
  font-family: verdana;
  color: white;
}

h5 {
  font-family: verdana;
  color: white;
}

h6 {
  font-family: verdana;
  color: white;
}

p {
  font-family: verdana;
  color: white;
}

a:link {
  text-decoration: none;
  color: #e4fdff;
  font-weight: bold;
}

a:visited {
  text-decoration: none;
  color: #ecfff0; /*Used to be #e4fdff*/
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
  color: #99eeff;
  font-weight: bold;
}

a:active {
  text-decoration: underline;
  color: #4de1ff;
  font-weight: bold;
}
